<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 , shrink-to-fit=no"
    />
    <title>Menu Meat-Moot | Best Smoked Meat Restaurant - Let's MEAT</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="assets/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/navbar.css" />
    <link rel="stylesheet" href="assets/css/menu.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top"
      id="mainNavbar"
    >
      <div
        class="container-fluid align-items-center mx-auto justify-content-around"
      >
        <a class="navbar-brand" href="#">
          <img
            src="assets/media/images/cropped-meatmoot-logo-170x58.png"
            alt="Logo"
            height=""
            class="ms-auto"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          id="navbarToggle"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarNav">
          <ul class="navbar-nav gap-lg-5">
            <li class="nav-item">
              <a
                class="nav-link text-light"
                aria-current="page"
                href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="menu.html">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="investors.html">Investors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="events-and-news.html"
                >Events & News</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#en.html"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >EN</a
              >
              <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Spanish</a></li>
              </ul> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Hero Section with LET'S MEAT and darker gradient -->
    <section
      class="hero-section d-flex justify-content-center align-items-center"
    >
      <div class="content text-center">
        <h1 class="hero-title">The Menu</h1>
        <div class="underline"></div>
      </div>
      <div class="lets-meat">LET'S MEAT</div>
      <div class="overlay"></div>
    </section>

    <!-- New Section after LET'S MEAT -->
    <section class="experience-section py-3 text-center">
      <div
        class="container d-flex flex-column align-items-center justify-content-center"
      >
        <h2 class="experience-text mb-5">
          Every bite is a wholesome experience! You cannot resist the taste of
          the <span class="font-weight-bold">smoked <br />flavors</span>.
        </h2>

        <!-- Dropdown using <select> -->
        <div class="mx-auto mb-1 mt-3">
          <select
            class="form-select btn-location d-inline-block"
            aria-label="Choose a location"
          >
            <option selected disabled>Choose a location</option>
            <!-- <option value="1">Location 1</option>
            <option value="2">Location 2</option>
            <option value="3">Location 3</option> -->
          </select>
        </div>
        <div class="underline mx-auto"></div>
      </div>
    </section>

    <section class="items-section py-2 text-light container-fluid">
      <div>
        <h2 class="section-title text-center mb-5">Our Menu</h2>
        <div>
          <!-- First row (Lamb Shoulder) -->
          <div class="row">
            <div class="col-md-6 p-0 order-md-1 order-1">
              <div class="card-item">
                <img
                  src="assets/media/images/menu/menu-item-1.webp"
                  class="img-fluid"
                  alt="Lamb Shoulder"
                />
              </div>
            </div>
            <div
              class="col-md-6 d-flex align-content-center justify-content-center flex-column order-md-2 order-2"
            >
              <img
                src="assets/media/images/download (14).svg"
                class="m-auto m-lg-0 menu-knife-image align-self-start"
                alt=""
              />
              <div class="card-content">
                <h5 class="item-title text-center fw-normal">Lamb Shoulder</h5>
                <p class="item-description">
                  When shoulder meat is this awesome, keep the seasoning vivid. Smoked authentic meat accordingly to a delicious recipe, seasoned with coarse salt and fleshly grounded black pepper.
                  You can also add honey to make it palpable with extras served on the side in accordance with your freshly gourmet palate.
                </p>
              </div>
            </div>
          </div>

          

          <!-- Second row -->
          <div class="row">
            <div class="col-md-6 p-0 order-md-1 order-lg-2">
              <div class="card-item">
                <img
                  src="assets/media/images/menu/menu-item-2.webp"
                  class="img-fluid"
                  alt="Lamb Shoulder"
                />
              </div>
            </div>
            <div
              class="col-md-6 d-flex align-content-center justify-content-center flex-column order-md-2 order-lg-1"
            >
              <img
                src="assets/media/images/download (14).svg"
                class="m-auto m-lg-0 menu-knife-image align-self-start"
                alt=""
              />
              <div class="card-content">
                <h5 class="item-title text-center fw-normal">Beef Brisket</h5>
                <p class="item-description">
                  Savor the exquisite smoked brisket at Meat Moot, which is made from premium quality meat and served with a delectable blend of spicy sauce and garlic yogurt. Our chefs take great care in crafting this dish, skillfully highlighting the natural flavors of the meat and providing a truly delightful dining experience.
                </p>
              </div>
            </div>
          </div>

          <!-- Third row -->
          <div class="row">
            <div class="col-md-6 p-0 order-md-1 order-lg-1">
              <div class="card-item">
                <img
                  src="assets/media/images/menu/menu-item-3.webp"
                  class="img-fluid"
                  alt="Lamb Shoulder"
                />
              </div>
            </div>
            <div
              class="col-md-6 d-flex align-content-center justify-content-center flex-column order-md-2 order-lg-2"
            >
              <img
                src="assets/media/images/download (14).svg"
                class="m-auto m-lg-0 menu-knife-image align-self-start"
                alt=""
              />
              <div class="card-content">
                <h5 class="item-title text-center fw-normal">Lamb Ribs</h5>
                <p class="item-description">
                  When shoulder meat is this awesome, keep the seasoning vivid.
                  Smoked authentic meat seasoned with coarse salt and freshly
                  grounded meat...
                </p>
              </div>
            </div>
          </div>

          <!-- Fourth row -->
          <div class="row">
            <div class="col-md-6 p-0 order-md-1 order-lg-2">
              <div class="card-item">
                <img
                  src="assets/media/images/menu/menu-item-4.webp"
                  class="img-fluid"
                  alt="Lamb Shoulder"
                />
              </div>
            </div>
            <div
              class="col-md-6 d-flex align-content-center justify-content-center flex-column order-md-2 order-lg-1"
            >
              <img
                src="assets/media/images/download (14).svg"
                class="m-auto m-lg-0 menu-knife-image align-self-start"
                alt=""
              />
              <div class="card-content">
                <h5 class="item-title text-center fw-normal">Beef Ribs</h5>
                <p class="item-description">
                  When shoulder meat is this awesome, keep the seasoning vivid.
                  Smoked authentic meat seasoned with coarse salt and freshly
                  grounded meat...
                </p>
              </div>
            </div>
          </div>

          <!-- Fifth row -->
          <div class="row">
            <div class="col-md-6 p-0 order-md-1 order-lg-1">
              <div class="card-item">
                <img
                  src="assets/media/images/menu/menu-item-5.webp"
                  class="img-fluid image-fill"
                  alt="Lamb Shoulder"
                />
              </div>
            </div>
            <div
              class="col-md-6 d-flex align-content-center justify-content-center flex-column order-md-2 order-lg-2"
            >
              <img
                src="assets/media/images/download (14).svg"
                class="m-auto m-lg-0 menu-knife-image align-self-start"
                alt=""
              />
              <div class="card-content">
                <h5 class="item-title text-center fw-normal">Lamb Shank</h5>
                <p class="item-description">
                  When shoulder meat is this awesome, keep the seasoning vivid.
                  Smoked authentic meat seasoned with coarse salt and freshly
                  grounded meat...
                </p>
              </div>
            </div>
          </div>

          <!-- Sixth row -->
          <div class="row">
            <div class="col-md-6 p-0 order-md-1 order-lg-2">
              <div class="card-item">
                <img
                  src="assets/media/images/menu/menu-item-6.webp"
                  class="img-fluid"
                  alt="Lamb Shoulder"
                />
              </div>
            </div>
            <div
              class="col-md-6 d-flex align-content-center justify-content-center flex-column order-md-2 order-lg-1"
            >
              <img
                src="assets/media/images/download (14).svg"
                class="m-auto m-lg-0 menu-knife-image align-self-start"
                alt=""
              />
              <div class="card-content">
                <h5 class="item-title text-center fw-normal">Beef Shank</h5>
                <p class="item-description">
                  When shoulder meat is this awesome, keep the seasoning vivid.
                  Smoked authentic meat seasoned with coarse salt and freshly
                  grounded meat...
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 p-0 order-md-1 order-lg-1">
              <div class="card-item">
                <img
                  src="assets/media/images/menu/menu-item-5.webp"
                  class="img-fluid image-fill"
                  alt="Lamb Shoulder"
                />
              </div>
            </div>
            <div
              class="col-md-6 d-flex align-content-center justify-content-center flex-column order-md-2 order-lg-2"
            >
              <img
                src="assets/media/images/download (14).svg"
                class="m-auto m-lg-0 menu-knife-image align-self-start"
                alt=""
              />
              <div class="card-content">
                <h5 class="item-title text-center fw-normal">Lamb Shank heeeeee</h5>
                <p class="item-description">
                  When shoulder meat is this awesome, keep the seasoning vivid.
                  Smoked authentic meat seasoned with coarse salt and freshly
                  grounded meat...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="items-section py-5 container-fluid d-flex flex-column justify-content-center align-items-center"
    >
      <div></div>
    </section>

    <!-- Stay Connnect Section -->
    <div class="discover-menu container-fluid text-center">
      <h1 class="discover-menu-title text-center">Discover Our Menus</h1>
      <p class="discover-menu-description text-center text-light">
        Click the button to display menu
      </p>
      <button onclick="navigateToPage()" class="btn btn-transparent m-5">
        Our Menu
      </button>
      <div class="letsmeat pb-5">
        <img src="assets//media/images/letsmeat.png" />
      </div>

      <!-- Footer -->

      <div class="container-fluid last-section pb-4">
        <div class="container px-5">
          <div class="row">
            <div
              class="col-md-4 col-sm-12 col-lg-4 d-flex justify-content-center align-items-center"
            >
              <div class="content last-section">
                <h1 class="stay">Stay Connected</h1>

                <div class="container">
                  <div class="d-flex align-items-center justify-content-center">
                    <!-- Use Bootstrap grid system -->
                    <div class="my-2">
                      <img
                        src="assets/media/images/download (12).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 1"
                      />
                    </div>
                    <div class="my-2">
                      <img
                        src="assets/media/images/download (5).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 5"
                      />
                    </div>

                    <div class="my-2">
                      <img
                        src="assets/media/images/download (8).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 5"
                      />
                    </div>
                    <div class="my-2">
                      <img
                        src="assets/media/images/download (3).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 3"
                      />
                    </div>

                    <div class="my-2">
                      <img
                        src="assets/media/images/download (4).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 2"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-4 col-sm-12 col-lg-4 d-flex justify-content-center align-items-center"
            >
              <div class="content last-section">
                <img
                  src="assets/media/images/meatmoot-restaurant-smoked-meat-1-768x768.jpeg"
                  class="img-fluid"
                />
              </div>
            </div>
            <div
              class="col-md-4 col-sm-12 col-lg-4 d-flex justify-content-center align-items-center"
            >
              <div class="content py-5 font-inter w-100">
                <h2 class="text-light text-center pb-5">Our Location</h2>
                <h5 class="text-light text-center">HeadQuater</h5>
                <h6 class="text-light text-center">
                  Sıtkı Bey Plaza No:82 K:7 34736 Kadıköy - ISTANBUL, TURKEY.
                </h6>
                <h6 class="text-light text-center">Istanbol</h6>
                <img
                  src="assets/media/images/letsmeat.png"
                  class="let-meet img-fluid pt-2"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col text-center d-flex align-items-center justify-content-center gap-5 px-5 text-end"
            >
              <p class="text-light">PRIVACY POLICY</p>
              <p class="text-light">TERMS OF USE</p>
            </div>
          </div>
          <p class="text-light text-center mb-0">
            Copyright © 2024 Meat Moot | Powered by Meat Moot
          </p>
        </div>
      </div>
      <!-- <div class="container-fluid">
        <div class="container px-5">
          <div class="row">
            <div
              class="col-md-4 col-sm-12 col-lg-4 d-flex justify-content-center align-items-center"
            >
              <div class="content py-5 last-section">
                <h1 style="font-size: 2.5rem; color: orange">Stay Connected</h1>

                <div class="container py-5">
                  <div class="row justify-content-center">
                   
                    <div
                      class="col-12 col-md-auto d-flex justify-content-center my-2"
                    >
                      <img
                        src="assets//media/images/download (3).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 1"
                      />
                    </div>
                    <div
                      class="col-12 col-md-auto d-flex justify-content-center my-2"
                    >
                      <img
                        src="assets//media/images/download (5).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 2"
                      />
                    </div>
                    <div
                      class="col-12 col-md-auto d-flex justify-content-center my-2"
                    >
                      <img
                        src="assets//media/images/download (12).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 3"
                      />
                    </div>
                    <div
                      class="col-12 col-md-auto d-flex justify-content-center my-2"
                    >
                      <img
                        src="assets//media/images/download (5).svg"
                        class="img-fluid mx-2 mb-4"
                        alt="Image 4"
                      />
                    </div>
                    <div
                      class="col-12 col-md-auto d-flex justify-content-center my-2"
                    >
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-4 col-sm-12 col-lg-4 d-flex justify-content-center align-items-center"
            >
              <div class="content py-5 last-section">
                <img
                  src="assets//media/images/meatmoot-restaurant-smoked-meat-1-768x768.jpeg"
                  class="img-fluid"
                />
              </div>
            </div>
            <div
              class="col-md-4 col-sm-12 col-lg-4 d-flex justify-content-center align-items-center"
            >
              <div class="content py-5">
                <h2 class="text-light text-center">Our Location</h2>
                <h5 class="text-light text-center">HeadQuater</h5>
                <h6 class="text-light text-center">
                  Stil-Plaza No.4537897 kdly
                </h6>
                <h6 class="text-center text-center">Istanbol</h6>
                <img
                  src="assets//media/images/letsmeat.png"
                  class="let-meet img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="text-light">
                <span class="me-5">Privacy policy</span>
                <span>Term of use</span>
              </p>
            </div>
          </div>
          <p class="text-light text-center pb-5">
          Copyright © 2024 Meat Moot | Powered by Meat Moot
          </p>
        </div>
      </div> -->
    </div>
    <script src="assets/vendor/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>

    <script src="assets/js/common.js"></script>
  </body>
</html>
